crime_data.db
ShapeData/LSOA_2021_EW_BSC_V4.cpg
ShapeData/LSOA_2021_EW_BSC_V4.dbf
ShapeData/LSOA_2021_EW_BSC_V4.prj
ShapeData/LSOA_2021_EW_BSC_V4.shp
ShapeData/LSOA_2021_EW_BSC_V4.shp.xml
ShapeData/LSOA_2021_EW_BSC_V4.shx
models/count_classifier.pkl
models/feature_columns.pkl
models/hybrid_classifier.pkl
models/six_plus_regressor.pkl
jan2025_burglary_predictions.csv
catboost_info/catboost_training.json
catboost_info/learn_error.tsv
catboost_info/time_left.tsv
catboost_info/learn/events.out.tfevents
models/catboost_classifier.cbm
models/catboost_regressor.cbm
models_6plus_ensemble/feature_columns.pkl
models_6plus_ensemble/hybrid_classifier.pkl
models_6plus_ensemble/six_plus_regressor.pkl
models_grouped/feature_columns.pkl
models_grouped/four_plus_regressor.pkl
models_grouped/hybrid_classifier.pkl
models_grouped_ensemble/feature_columns.pkl
models_grouped_ensemble/four_plus_regressor.pkl
models_grouped_ensemble/hybrid_classifier.pkl
